#MenuButton{
  height: 100%;
  width: 13%;
  float: left;
}

#TitleCard{
  Height: 10%;
  width: 100%;
}

#Title{

  height: 10%;
  width: 74%;

  padding-top: 6%;
  float: left;

  font-size: 60px;
  color: rgb(191,233,242);
  text-align: center;

  font-family: Montserrat;
  font-style: Extra-Light;

}

#DataHolder{
  height: 90%;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;

  background-color: rgba(0,0,0,0.2);

}

  #ProfilePicture{
    position: relative;

    margin-top: 10%;

    border-radius:250px;
    width: 40%;
    height: 25%;
    background: linear-gradient(rgb(115,55,176), rgb(86,168,160));

    overflow: hidden;
  }

  #ProfilePicture-Image{

    width: 100%;
    height: 100%;

  }

  #UserInfo{

    height: 10%;
    width: 100%;

    margin-top: 30%;

    font-family: Montserrat;
    font-style: Extra-Light;

    font-size: 70px;

    color: #D5FFF9;

    text-align: center;
  }

  #AppMenu {

    padding-left: 4%;
    margin-top: 10%;

  }

  #MenuTitle {

    padding-top: 8%;
    text-align: center;

    font-family: Montserrat;
    font-weight: 200;
    font-size: 60px;

    color: #D5FFF9;

  }
